<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <link rel="StyleSheet" href="/static/style.css">
     <title>ManGo</title>
  </head>
  <body>
    <div class="blk3"></div> 
  <img src="/static/mangos.png" alt="" class="mangos">
	<div class="game__num">Просмотр игры №</div>
    <form action="/index" method="POST">
      <input type="submit" class="all__games" value="Назад на главную">
  </form>
    <img src="/static/man.png" alt="" class="man1">
    <img src="/static/man.png" alt="" class="man2">
    <div class="plr1">DYNDEC</div>
    <div class="plr2">DYNDECEC</div>
    <img src="/static/left.jpg" alt="" class="arrow__left">
    <img src="/static/right.png" alt="" class="arrow__right">
  </body>
</html>