<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <link rel="StyleSheet" href="/static/style.css">
     <link  href="/static/buttons.css"  rel="stylesheet">

     <title>ManGo</title>
  </head>
  <body>
    <div class="bgrnd__FS">
    <div class="header_">
    	<div class="man">ManGO</div>

      
    </div>
    	<div class="txt__firtstTitle">Кeйс от команды MANGO</div>
    </div>
    <form class="topp" action="/index" method="POST">
      <input type="submit" class="next" value="ТОП-100 игроков">
  </form>
    
    <div class="blk2"></div>
	<div class="big__txt">КАКОЙ-ТО ТЕКСТ</div>	
   <div class="txt11">SPANK
	   <p>LOW</p> <p>sUM
   DI</p> <p>SUCON</p>
   <p>LAVES</p></div>
   <div class="big__txt2">TEXT</div>
   <div class="txt22">SPANNG
	   <p>LOW</p> <p>SUM
   DIC</p> <p>SKTION</p>
   <p>LAVES</p></div>
   <div class="big__txt3">TEXT</div>
    <div class="txt33">SPKING
	   <p>SWALLOW</p> <p>SHOT
   ICK</p> <p>SUTION</p>
		<p>NG SLAV</p></div>
   <div class="big__txt4">TEXT</div>
    <div class="txt44">SPAKING
	   <p>SWALLOW</p> <p>SHOT
   ICK</p> <p>SUTION</p>
   <p>KING SLAVE</p></div>
	 
	 
	
	  
  </body>
</html>
