<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <link rel="StyleSheet" href="/static/style.css">
     <link  href="/static/buttons.css"  rel="stylesheet">
     <link rel="icon" type="image/png" href="../static/logoMango.png" sizes="48x48">
     <title>ManGo</title>
  </head>
  <body>
    <div class="bgrnd__FS">
    <div class="header_">
    	<div class="man">ManGO</div>

      
    </div>
    	<div class="txt__firtstTitle">Кeйс от команды MANGO</div>
    </div>
    <form class="topp" action="/index" method="POST">
      <input type="submit" class="next" value="ТОП-100 игроков">
  </form>
    
    <div class="blk2"></div>
	<div class="big__txt">Данную работу продела команда ManGo в составе:</div>	
   <div class="txt11">-Демешко Егор(отвечает за frontend)
	   <p>-Лобастов Денис(отвечает за frontend)</p> <p>-Аверьянов Илья(дизайнер)</p> <p>-Кулижников Тимофей(отвечает за backend)</p>
   <p>-Силина Софья(тестер, изучение правил го)</p> <p>-Смирнова Мария(разработка концепции сайта)</p></div>
  
 
   <div class="big__txt4">Проект выполнен в рамках хакатона "Игры разумов"</div>
    <div class="txt44">Мы создали лидерборд при помощи API KGS
	   </div>
	 
	 
	
	  
  </body>
</html>
